#table_border {
	margin: 0 auto;
	margin-top: 30px;
	border: solid 2px #b7ddf2;
	display: inline-block;
	clear: both;
}

#hor-zebra {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 17px;
	text-align: left;
	border-collapse: collapse;
	width: 580px;
}

#hor-zebra th {
	font-size: 19px;
	font-weight: bold;
	padding: 10px 8px;
	color: #039;
	text-align: center;
}

#hor-zebra td {
	padding: 8px;
	color: #669;
}

#hor-zebra .odd {
	background: #ebf4fb; 
}
